{% extends"layout.html" %}
{% block body %}
<br/><br/><br/><br/>


<form action="/books_category" method="post" class="category">
    <label for="category">Category</label>
    <select name="category" id="category">
      <option value="Novel">Novel</option>
      <option value="Autobiography">Autobiography</option>
      <option value="Thriller">Thriller</option>
      <option value="Mystery">Mystery</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Westerns">Westerns</option>
      <option value="Fiction">Fiction</option>
      
    </select>
    <input type="submit" value="Submit" />
</form>
<br/>
<br/><br/>
<br/>

<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>new arrivals</span> </h1>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">


            {%for book in  books%}
            <div class="swiper-slide box">
                
                <div class="image">
                    <img src="static/image/{{ book.image }}" alt="">
                </div>
                <div class="content">
                    <h3 >  {{ book.name  }}  </h3>
                    <h2>by:-{{book.author}}</h2>

                    
                    <a href="{{  book.link }}" class="btn">Go to book</a>
                </div>

            </div>


            {% endfor %}

        </div>
        

    </div>

</section>

<br/>
<br/>
<div class="container">
    <h1>Books...</h1>
<br/>
<form action="/books"  method="post">
    <input type="text"  placeholder="Name" name="name"> 
    <input type="text"  placeholder="Author" name="author">
    <input type="text"  placeholder="Category" name="category">
    <input type="text"  placeholder="Language" name="language">
    <input type="number"  placeholder="Arrival year" name="arrival"> 
    <input type="text"  placeholder="Link" name="link">
    <input type="text"  placeholder="Image" name="image">
    <input type="submit" value="Add Name" class="btn">

</form>




</div>







{% endblock %}